@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Sedgwick+Ave+Display&display=swap');



* {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: medium;
    color: #242524;
    text-decoration: none;
    box-sizing: border-box;
}


header {
    /* padding: 30px 10%; */
    background-color: rgba(90, 89, 89, 0.696);
    margin-bottom: 3%;
    position: fixed;
    width: 100%;
    height: 16vh;
    top: 0;
    left: 0;
    right: 0;

}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
    margin-right: 2%;
}

.main-content {
    margin-top: 16vh;
    width: 100%;
}

.login {
    display: flex;
    float: right;
    align-items: center;
}

.logo {
    float: left;
    display: flex;
    align-items: center;
    font-size: 40px;
    flex: 1;

}
.logo:hover{
    zoom:1.2 ;
}
.right-header {
    display: flex;
}

a {
    transition: all 0.3;
}

a:hover {
    color: #0088a9;
}

.hero {
    width: 100%;
    height: fit-content;
    position: relative;
    z-index: 1;

}
.video-text{
    position: absolute;
    color: rgb(0, 0, 0);
    top: 25%;
    left: 50%;
    font-family: 'Sedgwick Ave Display';
    font-size: xx-large;
    transform:translate(-50%, -50%) ;
    z-index: 2;
}
span {
    display: block;
    height: 2vh;
}

nav-section {
    display: flex;
    background-color: #4c6e4c;
    height: 5vh;
    justify-content: space-around;
    border: #242524 solid;
    border-radius: 10px;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 2%;
    margin-right: 2%;
    
}

 section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.input-search{
display: none;
width: 15vw;

}
.search-bar:hover .input-search{
    display: block;
}
.search-bar {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-right:8% ;
}


.item {
    display: flex;
    flex-direction: column;
    height: 40vh;
    align-items: center;
    float: left;
}

.item-img {
    height: 60%;
    max-height: fit-content;
    max-width: fit-content;
}

.under-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-item {
    font-family: 'Sedgwick Ave Display';
    font-size: xx-large;
}

.purchase-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10%;
}

.purchase-button {
    color: #ededed;
    background-color: rgb(18, 173, 18);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin-right: 20%;
    padding: 3%;
}

.price {
    display: flex;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: 'Sedgwick Ave Display';
    font-size: xx-large;
    padding: 3%;
}

footer {
    background-color: rgba(90, 89, 89, 0.696);

}

.social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.social-logo {
    width: auto;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin-left: 2px;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}